:where(:not(iframe,canvas,img,svg,video):not(svg *)){all:unset;display:revert}*,::after,::before{box-sizing:border-box}ol,ul{list-style:none}img{max-width:100%}table{border-collapse:collapse}textarea{white-space:revert}.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}* html .clearfix{height:1%}.clearfix{display:block}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: linear-gradient(to bottom, #363795, #005C97);
    height: 100vh;
    margin: 0;
}

/* Header Section*/

#wrapper{
    
}

.heading{
    color: #ffffff;
    position: relative;
    padding-top: 1.5em;
    font-size: 2rem;
    font-family: "Roboto", serif;
    text-align: center;
    font-weight: 400;
}

/* Body Section*/

/* Footer Section*/