@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:where(:not(iframe,canvas,img,svg,video):not(svg *)){all:unset;display:revert}*,::after,::before{box-sizing:border-box}ol,ul{list-style:none}img{max-width:100%}table{border-collapse:collapse}textarea{white-space:revert}.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}* html .clearfix{height:1%}.clearfix{display:block}

.floatLeft{float: left;}
.floatRight{float: right;}
.column-25{width: 25%;}
.column-50{width: 50%;}

/* Header Section*/

#wrapper{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #363795, #005C97);
}

.heading{
    color: #ffffff;
    position: relative;
    padding-top: 1.5em;
    font-size: 2rem;
    font-family: "Roboto", serif;
    text-align: center;
    font-weight: 400;
    padding-bottom: 1em;
}

/* Body Section*/

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    padding: 0.5em;
    border-radius: 1em;
    background: #000000;
}

.display{
    display: flex;
    justify-content: flex-end;
    width: max-content;
    padding-bottom: 0.5em;
}

.display input{
    width: 18.8rem;
    height: 8rem;
    background-color: #005C97;
    border-radius: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: white;
    text-align: right;
    justify-content: flex-end;
}

.buttonsArea{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.buttonRaw{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.buttonBox{
    width: 4.5rem;
    height: 4.5rem;
    margin: 0.1rem 0.1rem;
    background-color: #363795;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    text-align: center;
}

.equalButton{
    width: 9.2rem;
}

.numberBTN{
    font-size: 1.8rem;
    color: #39ff14;
}

/* Footer Section*/